@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #050505;
    /* Noir presque pur */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Derrière tout */
}

/* Accueil (Prend tout l'écran) */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

h1 {
    font-size: clamp(3rem, 10vw, 8rem);
    /* Gros titre adaptatif */
    font-weight: 800;
    color: #ff3333;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 50px;
}

.scroll-indic {
    font-size: 0.9rem;
    opacity: 0.7;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

/* Espace vide pour scroller et admirer le modèle */
.scroll-spacer {
    height: 200vh;
    /* Définit la durée de l'animation (2x la hauteur d'écran) */
    pointer-events: none;
}

/* Footer sobre */
footer {
    padding: 50px;
    text-align: center;
    background-color: #000000;
    color: #666;
    position: relative;
    z-index: 10;
}

footer p {
    margin-bottom: 10px;
    font-size: 0.9rem;
}